.venv/
__pycache__/
*.pyc
.DS_Store
.pytest_cache/

# Python build artifacts
*.egg-info/
dist/
build/

# Local app data
data/*.db
data/*.duckdb
data/raw/*.csv
data/processed/*.csv
data/processed/*.duckdb

# Frontend
frontend/node_modules/
frontend/dist/
